@font-face {
  font-family: 'CookieRun Black';
  font-style: normal;
  font-weight: 900;
  src: url('./CookieRun Black.ttf');
}

@font-face {
  font-family: 'CookieRun Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./CookieRun Bold.ttf');
}

@font-face {
  font-family: 'CookieRun Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./CookieRun Regular.ttf');
}
